{% extends 'base.html' %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/assignments.css') }}"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function getUploadPath(assetPath) {
    // Split the path by '/'
    let pathParts = assetPath.split("/");
    // Remove the last part of the path
    pathParts.pop();
    // Join the parts back into a string with '/'
    return pathParts.join("/");
  }

  function submitAssignment() {
    const assetPath = document.getElementById("assetPath").value;
    const uploadPath = getUploadPath(assetPath);
    const assignmentData = {
      assigned_to: document.getElementById("assignedTo").value,
      assigned_by: document.getElementById("assignedBy").value,
      asset_path: assetPath,
      upload_path: uploadPath,
      assignment_details: document.getElementById("details").value,
      to_be_completed_by: document.getElementById("completionDate").value,
      completed: false,
    };

    fetch("/add_assignment", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(assignmentData),
    })
      .then((response) => {
        //   $("#assignmentModal").modal("hide"); // Close the modal
        alert("Assignment added successfully."); // Show success message
        location.reload(); // Reload the page to show the new assignment
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("Error adding assignment."); // Simplified error alert
      });
  }
</script>

{% endblock %} {% block title %} Assignments - Art Asset Manager {% endblock %}
{% block content %}
<div class="container mt-5">
  <h2>Assignments</h2>
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#assignmentModal"
  >
    Add Assignment
  </button>

  <!-- Display Assignments in a Table -->
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Assigned To</th>
        <th scope="col">Assigned By</th>
        <th scope="col">
          Asset Path <span class="small-text">Click to Download</span>
        </th>
        <th scope="col">Details</th>
        <th scope="col">Due Date</th>
        <th scope="col">Completed?</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in assignments %}
      <tr>
        <td>{{ assignment.assigned_to }}</td>
        <td>{{ assignment.assigned_by }}</td>
        <td>
          <a
            href="/download_file_folder?path={{ assignment.asset_path | urlencode }}"
            download
          >
            {{ assignment.asset_path }}
          </a>

          >
        </td>

        <td>{{ assignment.details }}</td>
        <td>{{ assignment.to_be_completed_by }}</td>
        <td>
          {% if not assignment.completed %}
          <form
            action="{{ url_for('submit_assignment', assignment_id=assignment.id, asset_path=assignment.upload_path) }}"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="file" name="file" required />
            <button type="submit">Submit</button>
          </form>
          {% else %} Yes {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Existing code for adding assignments remains unchanged -->
  <div
    class="modal fade"
    id="assignmentModal"
    tabindex="-1"
    aria-labelledby="assignmentModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body">
          <form id="assignmentForm">
            <div class="mb-3">
              <label for="assignedTo" class="form-label">Assigned To</label>
              <select class="form-control" id="assignedTo" name="assignedTo">
                {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="assignedBy" class="form-label">Assigned By</label>
              <input
                type="text"
                class="form-control"
                id="assignedBy"
                name="assignedBy"
                value="{{ current_user.email }}"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="assetPath" class="form-label">Asset Path</label>
              <input
                type="text"
                class="form-control"
                id="assetPath"
                name="assetPath"
                value="{{ asset_path if asset_path else '' }}"
              />
            </div>

            <div class="mb-3">
              <label for="details" class="form-label">Assignment Details</label>
              <textarea class="form-control" id="details" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="completionDate" class="form-label"
                >To Be Completed By</label
              >
              <input type="date" class="form-control" id="completionDate" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            onclick="submitAssignment()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
