<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}KSG{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    {% block head %}{% endblock %}
    <!-- Additional elements can be added here in child templates -->
  </head>

  <body>
    <div class="sidebar">
      <h3>Menu</h3>
      <ul class="main-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
        <li><a href="{{ url_for('explorer') }}">File Explorer</a></li>
      </ul>
      <!-- Place user authentication links at the bottom of the sidebar -->
      <ul class="user-nav">
        {% if current_user.is_authenticated %}
        <li>Logged in as {{ current_user.email }}</li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="content">
      {% block content %}
      <!-- Content unique to each page will go here -->
      {% endblock %}
    </div>
  </body>
</html>
