<!-- templates/create_password.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Create Password</h2>
    <form id="create-password-form" method="post">
        <div class="form-group">
            <label for="new-password" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="new-password" name="new-password" required>
        </div>
        <input type="hidden" id="access-token" name="access-token">
        <input type="hidden" id="refresh-token" name="refresh-token">
        <button type="submit" class="btn">Set Password</button>
    </form>
</div>

{% block scripts %}
<script>
// Function to extract query parameters from the URL hash or query string
function getParam(param) {
    // Check URL hash
    const hashParams = new URLSearchParams(window.location.hash.substr(1));
    if (hashParams.has(param)) {
        return hashParams.get(param);
    }

    // Check URL query string
    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.has(param)) {
        return queryParams.get(param);
    }

    return null;
}

document.addEventListener('DOMContentLoaded', function() {
    // Extract the access_token and refresh_token from the URL and set them in the hidden input fields
    const accessToken = getParam('access_token');
    const refreshToken = getParam('refresh_token');
    if (accessToken) {
        document.getElementById('access-token').value = accessToken;
    } else {
        alert('Access token is missing');
    }
    if (refreshToken) {
        document.getElementById('refresh-token').value = refreshToken;
    } else {
        alert('Refresh token is missing');
    }
});

document.getElementById('create-password-form').onsubmit = async function(event) {
    event.preventDefault();

    const newPassword = document.getElementById('new-password').value;
    const accessToken = document.getElementById('access-token').value;
    const refreshToken = document.getElementById('refresh-token').value;

    const response = await fetch('/reset_password', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            new_password: newPassword,
            access_token: accessToken,
            refresh_token: refreshToken
        })
    });

    const result = await response.json();
    if (response.ok) {
        alert('Password set successfully');
        window.location.href = '/login'; // Redirect to login page
    } else {
        alert('Error: ' + result.message);
    }
};
</script>
{% endblock %}
{% endblock %}




